<%# Renders the list of blogs 
# -params-
# @blogs: all blogs to list, as a will_paginate object
-%>

<p style="font-size:14px;"><strong>Recent Posts</strong></p>
<ul id="postList">
<% for blog in @blogs %>
	<li><%= link_to blog.title, blog_named_link(blog) %></li>
<% end %>
	<% if @blogs && @blogs.respond_to?(:total_pages) && @blogs.total_pages > 1 -%>
		<li><div style="padding-bottom:4px;">More pages</div> <%= will_paginate(@blogs, {:form_name => :blog_show_params, :param_name => :page} ) -%></li>
	<% end %>
</ul>
<p style="font-size:14px;"><strong>Or Maybe</strong></p>
<div style="margin-top:4px"><%= link_to "#{image_tag "feed-icon.png"} Subscribe to feed", { :action => :feed }, :style => 'text-decoration:none' %></div>
