<div id="bloggityContainer">
	<div class="bodyBigSide">
		<%= render :partial => 'show', :locals => { :blog => @blog } %>
		<%= render :partial => 'comments', :locals => { :blog => @blog } %>
	</div>
	
	<div class="bodyLittleSide">
		<%= render :partial => 'blogs/recent' %>
	</div>	
</div>
