<%# Guess.
# -params-
# comment: the comment we're showing
-%>

<li class="<%= cycle('dark', '') -%>">
	<p><span style="font-weight:bold;"><%= link_to(comment.user.display_name, comment.user) %> says:</span><br />
	<%= comment.created_at.strftime("%x at %X") %></p>
	<p style="margin:10px 5px 10px 0pt;"><%= simple_format(auto_link(sanitize(comment.comment))) %></p>
</li>
